# .gitignore file

# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter checkpoints
.ipynb_checkpoints/

# Models folder
models/

# Data folder
data/

# Data files
*.npz
*.h5
*.npy
*.json

# Model files
*.pt